<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.VideoDao">

    <select id="selecttotalCount" resultType="int">
        select count(*) from yx_video
    </select>


<!--手动映射-->
<resultMap id="videoMap" type="Video">
    <!--主属性映射-->
<id column="id" property="id"></id>
    <!--普通属性映射-->
    <result column="title" property="title"></result>
    <result column="brief" property="brief"></result>
    <result column="cover_path" property="coverPath"></result>
    <result column="video_path" property="videoPath"></result>
    <result column="create_date" property="createdate"></result>
    <!--关系属性映射 单独的对象-->
    <association property="category" javaType="Category">
        <id column="category_id" property="id"></id>
        <result column="cate_name" property="cate_name"></result>
    </association>

    <association property="user" javaType="User">
        <id column="uid" property="id"></id>
        <result column="usersname" property="usersname"></result>
    </association>
    <!--关系属性是集合-->
</resultMap>

<select id="queryAllByPage" resultMap="videoMap">
    select video.id,title,video.brief,cover_path,video_path,create_date,
           category_id,user_id,category.cate_name,user.id uid,user.usersname from
     (select id,title,brief,cover_path,video_path,create_date,category_id,user_id
         from yx_video limit #{start},#{end}
       ) video
      left join yx_category category on video.category_id=category.id
      left join yx_user user on video.user_id=user.id
</select>

    <insert id="add" parameterType="Video">
        insert into yx_video values(#{id},#{title},#{brief},#{coverPath},#{videoPath},#{createdate},#{category.id},#{user.id},#{groupId})
    </insert>

    <delete id="delete" parameterType="String">
        delete from yx_video where id=#{id}
    </delete>
</mapper>